
.timer {display: flex}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.value {
    font-size: 40px;
    font-weight: bold;
}

.label{
 text-transform: uppercase; 
 font-weight:bolder 
}
